body {
  margin: 4rem auto;
  max-width: 60rem;
  line-height: 1.6;
  font-size: 1.25rem;
  color: #444;
  padding: 0 10px;
  font-family: monospace;
}
h1,h2,h3 {
  line-height: 1.2;
}
button {
  font-size: inherit;
  font-family: inherit;
}
header h2, header {
  margin-bottom: 0.25rem;
}
footer {
  opacity: 0.75;
  font-size: 0.95rem;
  text-align: right;
  padding: 1rem;
}

.puzzle {
  width: 100%;
  min-height: 10em;
}
.log {
  font-family: monospace;
}
.log > li:hover {
  background: #FFFFE0;
}
